/* Make the invisible visible */

* {
  border: thin red solid;
  border-collapse: collapse;
}

h1 {

	height: 200px;
	background-color: #D0D0D0;
	font-size: 34;
}

#what {
	width: 33%; 
	float: left;
	font-size: 14pt;

}

#FAQ{

	width: 33%;
	float: left;
	font-size: 14pt;
}

#Purchase{

	width: 33%;
	float: left;
	font-size: 14pt;
}

#Describe{

	height: 15%;
	width: 33%;
	float:left;
}


#screenshot1 {

	width: 66%;
	height: 60%;
	float: left;
}
#screen {

	width: 66%;
	height: 55%;
	float: left;


}

#Describe2 {

	width: 33%;
	height: 55%;
	float:left;
}

#testimonial1 {

	float: left;
	width: 25%;
	
}

#testimonial2 {

	float: left;
	width: 25%;


}

#testimonial3 {

	float: left;
	width: 25%;

}

.button {
  background-color: blue;
  color: white;
  text-decoration: none;
  height: 30px;
  width: 150px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
}

footer {

	width: 100%;
	float:left;
}