/* Make the invisible visible */

* {
  border: thin red solid;
  border-collapse: collapse;
}

h1 {

	height: 200px;
	background-color: #D0D0D0;
	font-size: 34;
}

#what {
	width: 33%; 
	float: left;
}

#FAQ{

	width: 33%;
	float: left;
}

#Purchase{

	width: 33%;
	float: left;
}

#Describe{

	height: 85%;
	width: 33%;
	float:left;
}


#screenshot1 {

	width: 66%;
	float: left;
}
#screen {

	width: 66%;
	height: 85%;
	float: left;


}

#Describe2 {

	width: 33%;
	height: 85%;
	float:left;
}

#testimonial1 {

	float: left;
	width: 25%;
	
}

#testimonial2 {

	float: left;
	width: 25%;


}

#testimonial3 {

	float: left;
	width: 25%;

}

footer {

	width: 100%;
	float:left;
}