body {
  font-family: "Computer Modern Serif";
  font-size: 12pt; margin-left: 50px; margin-right: 50px; font-weight: lighter; 
  width: 960px;
  margin-left: auto;
  margin-right: auto;

}

h1  {text-align:center; 
  margin-top:2.6cm; 
  font-variant: normal;
  letter-spacing: 8pt;
  font-size: 32pt;
}
h2 {text-transform: uppercase;}

dl {line-height: 1; }
dt {text-align: left; float: left; }
dd {text-indent: 8em; text-align: left; 

}

p.subtitle {text-align: center; 
    font-style: italic;
    font-size: 16pt;
    letter-spacing: 2.4pt;

}

blockquote {
   text-align:left; 
   font-style: italic; 
   font-size: 16pt;
   margin: auto;


}
footer {
  text-align: right; 
        color: blue; 
        font-size: 15pt;
        font-weight: lighter;

        text-transform: uppercase; 
        font-style: normal;

}
a:link{text-decoration: none;}
h2 {    border-top: solid; border-width: justify; 
        border-bottom: outset; border-color: outset; 

        font-size: 16pt;
        letter-spacing: 5px;
    }
    small {font-size: 10pt; 
          font-style: italic; 
          text-transform: none;
          letter-spacing: 0px;
        }

 section {
    font-size: 14pt; 
    font-weight: 100;
}

table.schedule{border: outset; margin: auto;

}

th{ background-color: black; color: white


}

td.week{-webkit-transform:rotate(-90deg); text-transform: uppercase;}

tr.odd_week{background-color: #E6E6FA; }


}


/* ----------------------------------------------------------------- */
/* The scary stuff below is just to get the right font loaded up.    */
/* Don't worry about it. Write your CSS rules above the dotted line. */
/* I started them off for you with a rule about the body tag.        */

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunrm.eot');
  src: url('fonts/cmunrm.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunrm.woff') format('woff'),
     url('fonts/cmunrm.ttf') format('truetype'),
     url('fonts/cmunrm.svg#cmunrm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbx.eot');
  src: url('fonts/cmunbx.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbx.woff') format('woff'),
     url('fonts/cmunbx.ttf') format('truetype'),
     url('fonts/cmunbx.svg#cmunbx') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunti.eot');
  src: url('fonts/cmunti.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunti.woff') format('woff'),
     url('fonts/cmunti.ttf') format('truetype'),
     url('fonts/cmunti.svg#cmunti') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Computer Modern Serif';
  src: url('fonts/cmunbi.eot');
  src: url('fonts/cmunbi.eot?#iefix') format('embedded-opentype'),
     url('fonts/cmunbi.woff') format('woff'),
     url('fonts/cmunbi.ttf') format('truetype'),
     url('fonts/cmunbi.svg#cmunbi') format('svg');
  font-weight: bold;
  font-style: italic;
}
